:root {
  --background-color: #08141a;
  --accent-dark: #16252c;
  --accent-mid: #182c39;
  --accent-light: #1d3544;
  --primary: #5c9dff;
  --gray: #848d90;
  --white: #ffffff;
  --offwhite: #cfd1d4;
  --gradient: linear-gradient(
    40deg,
    rgba(42, 34, 182, 1) 0%,
    rgba(92, 157, 255, 1) 50%,
    rgb(140, 186, 255) 100%
  );
}

nav {
  z-index: 1;
}
.navbar-brand {
  font-size: 20px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
.nav-link {
  font-size: 16px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
.navbar-custom {
  background-color: var(--accent-dark);
}
.navbar-custom .navbar-brand {
  color: var(--offwhite);
}
.custom-toggler.navbar-toggler {
  border-color: var(--gray);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(240, 248, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
a.nav-link {
  color: var(--offwhite);
  transition: all 100ms ease-in-out;
}
a.nav-link:hover,
.fa-house:hover,
.fa-chart-pie:hover,
.fa-cube:hover,
.fa-gear:hover {
  color: var(--primary);
}
a.active {
  color: var(--primary);
}
.navbar-nav > div > .dropdown-menu {
  background-color: var(--accent-mid);
}
.navbar-nav > div > .dropdown-menu a:hover {
  background-color: var(--accent-mid);
}
.navbar-nav > div > .dropdown-menu > .dropdown-item {
  color: var(--offwhite);
  transition: all 100ms ease-in-out;
}
.navbar-nav > div > .dropdown-menu > .dropdown-item:hover {
  color: var(--primary);
}
.fa-sun,
.fa-bell,
.fa-circle-user {
  color: var(--offwhite);
  transition: all 100ms ease-in-out;
}
.fa-sun:hover,
.fa-bell:hover,
.fa-circle-user:hover {
  color: var(--primary);
}
