<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ion AI 🤖</title>
  </head>
  <body>
    <h1>Ion AI 🤖</h1>
    <p>[Landing page goes here]</p>
    <ul>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/logs">Logs</a>
      </li>
      <li>
        <a href="/testlogs">Test Logs</a>
        (logs page supplemented with fake data).
      </li>
    </ul>
    <ul>
      <li>
        <a href="/api/logs">Logs (JSON)</a>
      </li>
      <li>
        <a href="/api/members">Members (JSON)</a>
      </li>
    </ul>
  </body>
</html>
