<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#93cfef"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#08141a" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />

    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#08141a"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#08141a"
    />

    <title>Spud AI</title>
    <meta name="description" content="Spud AI" />
  </head>
  <body>
    <h1>Spud AI 🤖</h1>
    <p>[Landing page goes here]</p>
    <ul>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/logs">Logs</a>
      </li>
      <li>
        <a href="/testlogs">Test Logs</a>
        (logs page supplemented with fake data).
      </li>
    </ul>
    <ul>
      <li>
        <a href="/api/logs">Logs (JSON)</a>
      </li>
      <li>
        <a href="/api/users">Users (JSON)</a>
      </li>
    </ul>
  </body>
</html>
