<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="POST" action="api/members">
      <input type="text" name="psid" value="" placeholder="PSID" />
      <br />
      <input type="email" name="email" value="" placeholder="Email" />
      <br />
      <input type="password" name="password" value="" placeholder="Password" />
      <br />
      <input type="text" name="first" value="" placeholder="First" />
      <br />
      <input type="text" name="last" value="" placeholder="Last" />
      <br />
      <input
        type="text"
        name="discord"
        value=""
        placeholder="Discord Username"
      />
      <br />
      <input type="submit" /> <br />
    </form>
  </body>
</html>
