<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log</title>
    <link rel="stylesheet" href="css/main.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Vesper+Libre:wght@400;500;700;900&display=swap");
      body {
        font-family: Inter, Arial, Helvetica, sans-serif;
        font-size: 1em;
        background: #08141a;
        color: aliceblue;
      }
      main {
        margin: 6em auto 0 auto;
        width: 90%;
        max-width: 70em;
      }
      h1 {
        font-size: 1.6em;
        font-weight: 500;
      }
      table {
        margin-top: 2em;
        border-collapse: collapse;
        width: 100%;
      }
      tr:nth-child(even) {
        background-color: #18242c;
      }
      tr:nth-child(odd) {
        background-color: #121e24;
      }
      tr:first-child th:first-child {
        border-top-left-radius: 0.5em;
      }
      tr:first-child th:last-child {
        border-top-right-radius: 0.5em;
      }
      tr:last-child td:first-child {
        border-bottom-left-radius: 0.5em;
      }
      tr:last-child td:last-child {
        border-bottom-right-radius: 0.5em;
      }
      tr th:first-child,
      tr td:first-child {
        padding-left: 3.25em;
      }
      tr th:last-child,
      tr td:last-child {
        padding-right: 3.25em;
      }
      td,
      th {
        padding: 1.2em 1.75em;
      }
      th {
        color: aliceblue;
        font-weight: 500;
        text-align: left;
      }
      td {
        color: #8c8c8c;
      }
      td span#psid {
        font-size: 0.9em;
      }
      input[type="checkbox"] {
        vertical-align: middle;
        appearance: none;
        background-color: none;
        margin: 0;
        padding: 0;
        width: 1.2em;
        height: 1.2em;
        outline: 0.2em solid grey;
        border-radius: 0.2em;
      }
      input[type="checkbox"]:hover {
        cursor: pointer;
      }
      input[type="checkbox"]:checked {
        background: grey;
      }
      input[type="checkbox"]:checked::before {
        content: "\2714"; /* Unicode check mark character */
        display: block;
        position: absolute;
        font-size: 1em;
        color: aliceblue;
      }
      span.role {
        border-radius: 100em;
        padding: 0.45em 1.3em;
        font-weight: 500;
      }
      span.officer {
        color: #2eaf77;
        background: #1e4334;
      }
      span.member {
        color: #6368e9;
        background: #252a4b;
      }
      span.non-member {
        color: #2197c8;
        background: #1a3e4d;
      }
    </style>
  </head>
  <body>
    <main>
      <div>
        <h1>Member Log</h1>
      </div>
      <table>
        <tr>
          <th>
            <input type="checkbox" id="select-all" />
          </th>
          <th>Timestamp</th>
          <th>User</th>
          <th>Role</th>
          <th>Email</th>
          <th>Discord</th>
        </tr>
        <%- tableRows %>
        <!-- <tr>
          <td><input type="checkbox" value="PSID" /></td>
          <td>2023-12-31 00:00</td>
          <td>
            <strong>First Last</strong>
            <br />
            <span id="psid">1234567</span>
          </td>
          <td>
            <span class="role non-member">Non-Member</span>
          </td>
          <td>email@contact.me</td>
          <td>discord</td>
        </tr> -->
      </table>
    </main>
    <script defer>
      const selectAll = document.getElementById("select-all");
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      selectAll.addEventListener("click", () => {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = selectAll.checked;
        });
      });
    </script>
  </body>
</html>
