<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log</title>
    <link rel="stylesheet" href="css/global/reset.css" />
    <link rel="stylesheet" href="css/global/main.css" />
    <link rel="stylesheet" href="css/pages/log.css" />
    <!-- The script below is to import Font Awesome (For Trash Can Icon) -->
    <script
      src="https://kit.fontawesome.com/05f03bc0ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <div class="table-container">
        <table>
          <tr>
            <th>User</th>
            <th>Role</th>
            <th>PSID</th>
            <th>Email</th>
            <th>Timestamp</th>
            <th></th>
          </tr>
        </table>
      </div>
    </main>
  </body>
  <!-- The div below is to pass the logs data to the client side -->
  <div id="logData" data-logData="<%= JSON.stringify(logs) %>"></div>
  <script src="js/log.js"></script>
</html>
